/******************/
/* General Styles */
/******************/

html{
   height:100%;

   }

body {
  height:100%;
  background-image:url(bg.jpg);
}

#all{
   width:0px;
   margin:auto;
   font-family:nanumbarunpenr !important; 
  
  
}

#header{
   height:125px;  
   position:relative; 
   width:1024px; 
   left:50%; 
   margin-left:-512px;
   font-size:95px;
   text-align:center;
   font-family:nanumbarunpenr !important; 
  line-height: normal;
   
}


#navi { 
   
   height: 50px; 
   padding: 0; 
   margin: 0; 
   width:1024px; 
   left:50%; 
   margin-left:-512px;
   padding: 0px; 
 
   
}

ul{
  list-style-type: none;

    
  }

#navi li { 
    width:164px;
   float:left;
   text-align:center; 
   position:relative;
   line-height:40px;
     background:rgb(136, 194, 214); 
    border-radius:8px 8px 0px 0px; 
   
   
}

#navi li a { 
   display: block; 
   font-weight:600;
   font-size:17px;   
   padding: 5px 25px;
   color: #fff;
   text-decoration: none; 
}
#navi li a:hover { 
   color:#fff;
}
#navi li ul {  
   opacity: 0; 
   position: absolute; 
   left: 0;  
   width: 164px; 
   background:rgb(136, 200, 290);  
   padding: 0; 
   margin: 0;  
}
#navi li:hover ul { 
   opacity: 1;
}
#navi li ul li { 
   float: none; 
   position: static; 
   height: 0;
   line-height: 0; 
   background: none; 
}
#navi li:hover ul li { 
   height: 30px; 
   line-height: 20px; 
   padding:5px 0;
}
#navi li ul li a { 
   background:rgb(136, 200, 290); 
   font-weight:600; 
   font-size:14px;
   color:#5D5D5D;
}

#navi li ul li a:hover { 
   background:rgb(136, 194, 214); 
}

#navi>ul>li:hover{
   background:rgb(136, 200, 290); 
    -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; 
}

#navi li a:hover { 
   color:#fff;
    -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; 
}




   #wrapper {
  margin: 0 auto;
  width: 600px;
   position:absolute;
   top:280px;
   left: 25%; 
 -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
background-color: #F7F7F7;

}


h2 {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight:normal;
    margin-left: 20px;
}

/***************/
/* Form Styles */
/***************/

form label, textarea, input[type=submit] {
  display: inline-block;
  margin-bottom: 2%;
}

textarea {
  margin-left: 6px;
}

form label {
  text-align: right;
  width: 25%;
}

label + input {
    width: 35%;
    margin: 0 30% 0 1%;
}

input[type=submit] {
  padding: 10px;
  background:rgb(136, 194, 214);
  color: #fdfaff;
  font-size: 1.1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}

/******************/
/* Generated Code */
/******************/

.add-to-calendar {
  margin: 20px 0;
}

.instructions {
  margin: 10px 0;
}